<settings>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <proxies>
        <proxy>
           <id>sonarsource</id>
           <active>true</active>
           <protocol>http</protocol>
           <host>example.snapwork.com</host>
           <port>31032</port>
           <nonProxyHosts>www.google.com|*.snapwork.com</nonProxyHosts>
        </proxy>
    </proxies>
</settings>
